@use "./utilities/scrollbar";
@use "./utilities/colors";
@use "./utilities/generic";
@use "./utilities/fonts" as fonts;

* {
  box-sizing: border-box !important;
}

/* html {
  height: 100%;
  box-sizing: border-box;
  body {
    height: 100%;
    #app {
      height: 100%;
      background-color: colors.get("light");
    }
  }
} */

.main-container {
  height: calc(100vh - 50px);
}
